extends layout.pug 

block content
    div.container 
        h1 All medicines' list

        if success
            p.success Medicine is added!

        div.medicines
            if medicines.length
                each medicine in medicines
                    div.medicine-wrapper
                        p.medicine
                            a.medicine() #{ medicine.title }
                                a.medicine() quantity: #{ medicine.number }
                            a.btn(href=`/medicines/${ medicine.id }`) Detail
                            if medicine.status
                                a.status(href=`/${ medicine.id }/update`) Updated
                            else
                                a.no-status(href=`/${ medicine.id }/update`) Update                   
                            a.delete(href=`/${ medicine.id }/delete`) Delete
            else 
                p.medicine No any medicines